* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;  
}

.s-slide {
    width: 1400px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

span {
    color: #ff0036;
}

.s-our-clients {
    background-image: url(../img/our_clints/bg.png);
    height: 652px;
}

[class$="slide-header"] .s-title {
    text-align: center;
    font: bold 30px/80% 'Raleway';
}

.s-our-clients .s-title {
    color: #ffffff;
}

.s-clients-words .s-title {
    font: 500 20px/80% 'Raleway';
    padding-left: 185px;
    padding-right: 185px;
    text-align: center;
}

.s-description {
    text-align: center;
    font: bold 16px/80% 'Lato';
}

.s-our-clients .s-description {
    color: #747373;
    padding-top: 50px;
    padding-bottom: 5px;
}

.s-clients-words .s-description {
    font-weight: 400;
    line-height: 22px;
}

.s-clients-words .s-title {
    font-weight: 400;
}

.s-our-clients h2 {
    padding-top: 94px;
}

.s-our-clients .s-section-content {
    display: flex;
    padding-top: 95px;
    /*padding-left: 115px;
    padding-right: 115px;*/
    justify-content: space-between;
}

.s-section-content section {
    height: 270px;
    width: 570px;
}

.s-clients-logos {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
}

.s-section-content h3 {
    text-transform: uppercase;
}

.s-logo-container {
    height: 115px;
    width: 270px;
    background-image: url(../files/our_clints/logo_bg.png);
    text-align: center;
}

.s-logo-container:nth-of-type(1), .s-logo-container:nth-of-type(2) {
    margin-bottom: 40px;
} 

.s-logo {
    font: 400 24.16px/29.6px 'MgOpen Modata', sans-serif;
    vertical-align: middle;
    padding-block: 45px;
}

.s-logo img {
    vertical-align: middle;
    position: relative;
}

.graphicriver img {
    vertical-align: top;
}

.codecanyon img {
    left: 7px;
}

.s-client-container {
    margin-top: 35px;
    text-align: center;
}

.s-client-name {
    color: #ff0036;
    text-transform: uppercase;
    font: bold 16px/80% 'Raleway';
    margin-top: 15px;
}

.s-clients-scroller {
    display: flex;
    justify-content: space-between;
    width: 34px;
    margin: auto;
    margin-top: 25px;
}

.s-scroll-box {
    width: 8px;
    height: 8px;
    background-color: #e0e0e0;
}

.s-scroll-box:nth-child(2) {
    background-color: #ff0036;
}

.s-slide.s-features {
    position: relative;
    height: 985px;
    background-color: #ffffff;
}

.s-slide-separator {
    position: absolute;
    left: 440px;
    top: -9px;
}

.s-features-slide-header .s-title {
    padding-top: 100px;
}

.s-features-slide-header .s-description {
    padding-top: 55px;
    color: #505050;
}

.s-features .s-section-content {
    margin-top: 40px;
    height: 655px;
    background-image: url(../files/features/img.png);
    background-position: center;
    background-repeat: no-repeat;
}

.s-features .s-list-container {
    display: flex;
    padding-top: 140px;
    height: 205px;
    width: 1170px;
    justify-content: space-between;
}

.s-features li {
    height: 51px;
    width: 368px;
    border: 1px solid #e1e1e1;
    text-transform: uppercase;
    font: 500 20px/51px 'Raleway';
    vertical-align: middle;
}

.s-features li:not(:last-child) {
    margin-bottom: 23px;
}

.s-features ul {
    list-style: none;
}

.s-features li {
    display: flex;
    color: #262626;
}

.s-features .s-list-marker {
    width: 37px;
    height: 51px;
    margin-right: 20px;
    margin-left: 20px;
    background-image: url(../img/grey_hexagon_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.s-features .s-left-list li {
    justify-content: right;
}

.s-features .s-button {
    margin: auto;
    width: 170px;
    height: 50px;
    text-align: center;
    margin-top: 187px;
    background-color: #393939;
    text-transform: uppercase;
    font: 500 20px/50px 'Raleway';
    color: #ffffff;
}

.s-features li:hover, .s-features .s-button:hover {
    color: #ffffff;
    background-color: #ff0036;
}

.s-features li:hover .s-list-marker {
    background-image: url(../img/white_hexagon_bg.png);
    color: #ff0036;
}